{% extends 'base.html' %}

{% load static %}

{% block title %}Home|Eljus プログラミング{% endblock %}



{% block contents %}


<div class="my-div-style">
    <table>
        <tr>
            <th><a href="#学習">学習</a></th>
            <td>学習の説明</td>
        </tr>
        <tr>
            <th><a href="#問題投稿">問題投稿</a></th>
            <td>問題投稿の説明</td>
        </tr>
        <tr>
            <th><a href="#問題を解く">問題を解く</a></th>
            <td>問題を解くの説明</td>
        </tr>
        <tr>
            <th><a href="#質問">質問</a></th>
            <td>質問の説明</td>
        </tr>
        <tr>
            <th><a href="#コミュニティ">コミュニティ</a></th>
            <td>コミュニティの説明</td>
        </tr>
        <tr>
            <th><a href="#マイページ">マイページ</a></th>
            <td>マイページの説明</td>
        </tr>
    </table>
    <!-- <ul>
        <li><a href="#学習">学習</a></li>
        <li><a href="#問題投稿">問題投稿</a></li>
        <li><a href="#問題を解く">問題を解く</a></li>
        <li><a href="#質問">質問</a></li>
        <li><a href="#コミュニティ">コミュニティ</a></li>
        <li><a href="#マイページ">マイページ</a></li>
    </ul> -->
</div>

{% endblock %}
